.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
  margin: 25px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--grey-text);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 16px;
  color: var(--grey-text);
}

.open-chat__bar {
  display: flex;
  justify-content: space-between;
  color: var(--grey-text);
  font-size: 14px;
}
.open-chat__content {
  color: var(--grey-text);
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.open-chat__content h4 {
  color: Black;
  font-size: 18px;
  margin-bottom: 7px;
}

.open-chat__content h5 {
  font-size: 16px;
  margin-bottom: 7px;
}
.open-chat__content__column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.open-chat__content__column:first-child {
  padding: 5px 0px;
}

.open-chat__content__column img {
  height: 100px;
  width: 100px;
  border-radius: 10%;
}

.open-chat__content__bottom {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.open-chat__content__bottom span:nth-child(3) {
  color: tomato;
  padding-left: 5px;
}
.open-chat__content__bottom span:last-child {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--grey-text);
  color: white;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 15px;
}

.open-chat__content__bottom img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.find-screen .icon-row__icon span {
  font-size: 13.5px;
}

@keyframes poundingHeart {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.2);
  }
  100% {
    color: white;
    transform: none;
  }
}

.find-screen .open-chat__content__bottom span:hover i {
  will-change: transform;
  animation: poundingHeart 1.2s ease-in-out infinite;
}
